<<<<<<< HEAD
.joyride-tip-guide .tour-tip-label {
  margin-top: 0;
}

.joyride-tip-guide h2 {
  margin: 10px 0;
=======
.shepherd-element:focus {
  outline-width: 1px;
  outline-style: dotted;
  outline-color: #008068;
  outline-offset: 2px;
  box-shadow: none;
}

.shepherd-cancel-icon {
  line-height: 1;
}

.shepherd-cancel-icon:focus {
  color: #fff;
  background-color: transparent;
}

.shepherd-cancel-icon:hover,
.shepherd-cancel-icon:focus {
  color: #000;
  background-color: #efefef;
}

.shepherd-title {
  margin: 0;
>>>>>>> dev
  color: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

<<<<<<< HEAD
.joyride-tip-guide p {
=======
.shepherd-text p {
>>>>>>> dev
  font-size: 13px;
  line-height: 18px;
}

<<<<<<< HEAD
.joyride-tip-guide .button {
=======
.shepherd-button {
>>>>>>> dev
  padding: 4px 1.5em;
  font-size: 14px;
  line-height: 17px;
}
<<<<<<< HEAD

.joyride-tip-guide a:hover,
.joyride-tip-guide a:focus {
  color: #000;
  background-color: #efefef;
}
=======
>>>>>>> dev
