{#
/**
 * @file
 * Default theme implementation for a dropbutton wrapper.
 *
 * Available variables:
 * - children: Contains the child elements of the dropbutton menu.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
{% if children %}
<<<<<<< HEAD
  {% spaceless %}
=======
  {% apply spaceless %}
>>>>>>> dev
    <div class="dropbutton-wrapper">
      <div class="dropbutton-widget">
        {{ children }}
      </div>
    </div>
<<<<<<< HEAD
  {% endspaceless %}
=======
  {% endapply %}
>>>>>>> dev
{% endif %}
